In [48]:
import os
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [27]:
lst = list([0,1,2,3,4,5,6,7,8,9])
lst[2]

2

In [28]:
lst.append(10)

In [25]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
?range

In [21]:
lst2 = list(range(11,21))

In [22]:
lst2

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
lst.extend(lst2)

In [30]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
lst[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [54]:
pop_dict = {'Asia':4545133000, 'Africa': 1287920000, 'Europe':738849000, 'North America': 587615000,
       'South America':428240000, 'Australia': 39000000, 'Antartica':4490}

In [33]:
pop_dict['North America'] + pop_dict['South America']

1015855000

In [36]:
total_pop = 0
for value in pop_dict.values():
        total_pop += value

total_pop

7626761490

In [37]:
import glob

In [38]:
pwd

'/Users/kaylinlee/Desktop/KL_ISIpedia/Thesis/Code'

In [42]:
cd '/Users/kaylinlee/Desktop/KL_ISIpedia/Thesis/Code'

/Users/kaylinlee/Desktop/KL_ISIpedia/Thesis/Code

In [44]:
files = glob.glob('*')

In [47]:
for file in files:
    print(file.split('.')[0])

Untitled
pyam-master
2
1
1
1
Leakage_amount_clarification
Data
1
2
Plots
2
Pyam - all models

In [55]:
population = pd.Series(pop_dict)
print(population)

Asia             4545133000
Africa           1287920000
Europe            738849000
North America     587615000
South America     428240000
Australia          39000000
Antartica              4490
dtype: int64

In [50]:
sum(population)

7626761490

In [56]:
areas = pd.Series ({'Asia': 44579000 ,
'Africa': 30370000 ,
'Europe': 10180000 ,
'North America': 24709000 ,
'South America': 17840000 ,
'Australia': 8600000 ,
'Antartica': 14000000})

In [71]:
continent_df = pd.DataFrame({'Population':population, 'Area': areas})
continent_df

               Population      Area
Asia           4545133000  44579000
Africa         1287920000  30370000
Europe          738849000  10180000
North America   587615000  24709000
South America   428240000  17840000
Australia        39000000   8600000
Antartica            4490  14000000

In [58]:
continent_df.ndim

2

In [59]:
continent_df.columns

Index(['Population', 'Area'], dtype='object')

In [61]:
continent_df.index

Index(['Asia', 'Africa', 'Europe', 'North America', 'South America',
       'Australia', 'Antartica'],
      dtype='object')

In [62]:
continent_df.values

array([[4545133000,   44579000],
       [1287920000,   30370000],
       [ 738849000,   10180000],
       [ 587615000,   24709000],
       [ 428240000,   17840000],
       [  39000000,    8600000],
       [      4490,   14000000]])

In [72]:
continent_df = continent_df.reset_index().rename(columns={'index':'Continent'})
continent_df

       Continent  Population      Area
0           Asia  4545133000  44579000
1         Africa  1287920000  30370000
2         Europe   738849000  10180000
3  North America   587615000  24709000
4  South America   428240000  17840000
5      Australia    39000000   8600000
6      Antartica        4490  14000000

In [73]:
sum(continent_df['Area'])

150278000

In [75]:
continent_df[continent_df['Population'] > 10*6]['Area'].sum()

150278000

In [89]:
continent_df.loc[continent_df.Continent == ('North America')]['Population'].values + continent_df.loc[continent_df.Continent == ('South America')
                                     ]['Population'].values

array([1015855000])

In [90]:
pop = continent_df.loc[continent_df.Continent == ('North America')
                ]['Population'
                 ].values + continent_df.loc[continent_df.Continent == ('South America')
                                     ]['Population'].values
area = continent_df.loc[continent_df.Continent == ('North America')
                       ]['Area'].values + continent_df.loc[continent_df.Continent == ('South America')
                                                   ]['Area'].values

america_df = pd.DataFrame({'Continent':'Americas', 'Population':pop, 'Area':area})
america_df

  Continent  Population      Area
0  Americas  1015855000  42549000

In [92]:
continent_df['Density']=continent_df['Population']/continent_df['Area']
continent_df

       Continent  Population      Area     Density
0           Asia  4545133000  44579000  101.956818
1         Africa  1287920000  30370000   42.407639
2         Europe   738849000  10180000   72.578487
3  North America   587615000  24709000   23.781416
4  South America   428240000  17840000   24.004484
5      Australia    39000000   8600000    4.534884
6      Antartica        4490  14000000    0.000321

In [97]:
continent_df[continent_df['Density']==max(continent_df['Density'])]['Continent']

0    Asia
Name: Continent, dtype: object

In [98]:
sns.set_context('notebook')
sns.set_style('whitegrid')
sns.set(font_scale = 1.5)